:root {
    --grid-size: 500px;
}


html {
    position: fixed;
    width: 100vw;
}

body {
    color: #FFF;
    background-color: #000;
    font-family: sans-serif;
    
    height: 95vh;
    width: 100vw;
    margin: 0;

    overflow: hidden;
    position: fixed;
    
    touch-action: none;
}

#mainContainer {
    background-color: #B88;
    
   
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 7fr;

    column-gap: 0px;
    row-gap: 0px;

    grid-template-areas: 
    ". heading ."
    ". newGrid ."
    "options gridArea ."
    ". . ."
    "footer footer footer";  
}

#heading {
    background-color: #88B;
    font-size: 3em;
    text-align: center;
    text-emphasis: bold;

    grid-area: heading;
}

.instructions {
    font-size: 1.25em;
    color: black;
    text-align: center;
}

#newGrid {
    display: flex;
    flex-direction: column;
    background-color: #8B8;
    justify-content: center;
    grid-area: newGrid;
}

#pickSize
{
    font-size: large;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 8em;
    align-self: center;
    border-radius: 5px;
}

#options {
    background-color: #BB8;
    grid-area: options;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;

    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

.optionBtns {
    background-color: #EEE;
    font-size: large;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 8em;
    align-self: center;
    border-radius: 5px;

}

#gridArea {
    background-color: #555;
    grid-area: gridArea;

    width: var(--grid-size);
    height: var(--grid-size);

    align-self: center;
    justify-self: center;

    display: grid;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

footer {
    background-color: cadetblue;
    text-align: center;
    grid-area: footer;

    position: fixed;
    bottom: 0;
    left: 38vw;
}

