:root {
    --grid-size: 500px;
}

body {
    color: #FFF;
    background-color: #000;
    font-family: sans-serif;

    overflow: hidden;
}

#mainContainer {
    background-color: #B88;
    
   
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 7fr 1fr;

    height: 100% vh;

    grid-template-areas: 
    ". heading ."
    ". newGrid ."
    "options gridArea ."
    ". . ."
    "footer footer footer";
    
    
}

#heading {
    background-color: #88B;
    font-size: 3em;
    text-align: center;
    text-emphasis: bold;

    grid-area: heading;
}

#newGrid {
    display: flex;
    background-color: #8B8;
    justify-content: center;
    grid-area: newGrid;
}

#pickSize
{
    font-size: large;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 8em;
    align-self: center;
    border-radius: 5px;
}

#options {
    background-color: #BB8;
    grid-area: options;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
}

.optionBtns {
    font-size: large;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 8em;
    align-self: center;
    border-radius: 5px;

}

#gridArea {
    background-color: #555;
    grid-area: gridArea;

    width: var(--grid-size);
    height: var(--grid-size);

    align-self: center;
    justify-self: center;

    display: grid;
}

footer {
    background-color: cadetblue;
    text-align: center;
    grid-area: footer;
}

